body {
    background-color: #F8F9FA;
}

.card {
    border: none;
}

.navbar {
    background-color: #FFFFFF !important;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.product-img {
    object-fit: cover;
}